---
import {StarIcon} from "@heroicons/react/24/solid";
import {cn} from "../../utils/tools";

interface Props {
  rating: number;
}

const {rating} = Astro.props;
---

<div class="my-3">
  <h3 class="sr-only">Reviews</h3>
  <div class="flex items-center">
    <div class="flex items-center">
      {
        [0, 1, 2, 3, 4].map((index) => (
          <StarIcon
            className={cn(
              index < rating ? "text-yellow-500" : "text-neutral-300",
              "h-5 w-5 flex-shrink-0"
            )}
            aria-hidden="true"
          />
        ))
      }
      <p class="ml-1 text-sm text-neutral-800">
        <span class="underline">8,215 Reviews</span>
      </p>
    </div>
    <p class="sr-only">{rating} out of 5 stars</p>
  </div>
</div>
