---
import {Icon} from "astro-icon/components";

interface Props {
  icon?: string;
  name: string;
  description: string;
  textTitleColor: string;
  textBodyColor: string;
}
const {icon, name, description, textTitleColor, textBodyColor} = Astro.props;
---

<div class="flex flex-col w-full col-span-1">
  {icon && <Icon name={icon} class:list={["w-10 h-auto ", textBodyColor]} />}
  <h3 class:list={["mt-2 text-2xl font-bold", textTitleColor]}>
    {name}
  </h3>
  <p class:list={[" tracking-tight text-base mt-6", textBodyColor]}>
    {description}
  </p>
</div>
