---
import {Icon} from "astro-icon/components";

interface Props {
  icon: string;
  name: string;
  description: string;
}
const {icon, name, description} = Astro.props;
---

<div class="flex flex-col w-full col-span-1">
  <Icon name={icon} class="w-10 h-auto text-neutral-300" />
  <h3 class="mt-2 text-neutral-100 text-xl font-bold">
    {name}
  </h3>
  <p class="text-neutral-400 tracking-tight text-base mt-1">
    {description}
  </p>
</div>
