---
import Usp from "../components/usp.astro";
import Container from "../components/container.astro";
import Header from "../components/header.astro";

interface Props {
  usps: {
    name: string;
    description: string;
    icon: string;
  }[];
  bgColor?: string;
  textColor?: string;
}

const {
  usps,
  bgColor = "bg-neutral-800",
  textColor = "text-neutral-100",
} = Astro.props;
---

<section class:list={["w-full py-16", bgColor]}>
  <Container>
    <Header
      title="The 24/7 Golf Difference"
      className={`text-start ${textColor}`}
    />
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-6 grid-rows-6 sm:grid-rows-3 lg:grid-rows-2 gap-y-8 gap-x-8"
    >
      {
        usps.map((usp: {name: string; description: string; icon: string}) => (
          <Usp {...usp} />
        ))
      }
    </div>
  </Container>
</section>
