---
import {SEO} from "astro-seo";
import Simulator from "../../public/skytrak-practice-package.webp";
---

<html lang="en" class="scroll-smooth">
  <head>
    <SEO
      title="24-7 Golf"
      description="24-7 Golf - The Ultimate Golf Simulation Technology"
      openGraph={{
        basic: {
          title: "24-7 Golf - The Ultimate Golf Simulation Technology",
          type: "website",
          image: Simulator.src,
        },
      }}
      extend={{
        // extending the default link tags
        link: [{rel: "icon", href: "/favicon.ico"}],
        // extending the default meta tags
        meta: [
          {
            name: "24-7 ",
            content: "24-7 Golf - The Ultimate Golf Simulation Technology",
          },
        ],
      }}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style is:global>
      @font-face {
        font-family: "Nunito";
        src: url("/fonts/NunitoSans.ttf") format("truetype-variations");
        font-weight: 1 999;
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter.ttf") format("truetype-variations");
        font-weight: 1 999;
      }

      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      /* For IE, Edge and Firefox */
      .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </head>
  <body class="relative bg-gray-50">
    <slot />
  </body>
</html>
